<center><h3>Agenda of the Event</h3></center>
<table class="table table-striped schedule-css">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Title</th>
        <th scope="col">Speaker(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>09:05: 9:15 am</td>
        <td>Keynote</td>
        <td>Ajeet Singh Raina</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>09:15 - 09:45 am</td>
        <td>Automating Infrastructure with Kubernetes and Microservices Using Terraform</td>
        <td>Aditya Soni</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>09:50 - 10:20 am</td>
        <td>A New Era of .Net Core Deployment using Azure Devops Starter.</td>
        <td>Menaka Priyadharshini Baskar</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>10:20 - 10:30 am</td>
        <td>Fun Quiz on Kahoot.it</td>
        <td>Sangam Biradar</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>10:30 - 11:00 am</td>
        <td>Panel Discussion on Terraform</td>
        <td>Vinay Agarlwal, Vamsikrishna Burugadda, Ravichandran Somasundaram</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>11:05 - 11:35 am</td>
        <td>Monitoring and debugging Kubernetes applications with BotKube</td>
        <td>Prasad Ghangal</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>11:40 - 12:10 pm</td>
        <td>Turning Virtual Machines 'Cloud-Native' using KubeVirt</td>
        <td>Suman Chakraborty</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>12:15 - 12:45 pm</td>
        <td>Kubernetes Admission controllers using Python</td>
        <td>Arunvel Arunachalam</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>12:50 - 13:20 pm</td>
        <td>Building Microservices on Kubernetes using Envoy Proxy and Istio</td>
        <td>Prashansa Kulshrestha</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>13:20 - 13:35 pm</td>
        <td>Fun Quiz on Kahoot.it</td>
        <td>Sangam Biradar</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>13:35 - 14:05 pm</td>
        <td>Simplified Deployments into Cloud using Docker Desktop</td>
        <td>Sanchit Balchandani</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>14:10 - 14:40 pm</td>
        <td>Shorten all URLs: Quarkus, Kotlin, Hazelcast and GraalVM</td>
        <td>Nicolas Frankel</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>14:45 - 15:15 pm</td>
        <td>Testing your Kubernetes platform before and after upgrades through GitOps</td>
        <td>Uma Mukkara</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>15:20 - 15:40 pm</td>
        <td>Panel Discussion on Kubelabs</td>
        <td>Vinay Agarlwal, Sangam Biradar, Apurva Bhandari</td>
      </tr>
    </tbody>
  </table>
