<!-- Begin Location Section -->
<section id="venue" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

    <div class="container-fluid">

      <div class="section-header">
        <h2>Event Venue</h2>
        <p>Event venue location info and gallery</p>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 venue-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502964.5101022223!2d76.02072089614887!3d9.98293141599775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1590938072763!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>

        <div class="col-lg-6 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8">
              <h3>Virtual Conference</h3>
              <p>Collabnix Youtube Channel</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<!-- End Location Section -->